<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qh.pay.dao.PayOrderAcpDao">

	<select id="get" resultType="com.qh.pay.api.Order">
		select
		`order_no`,`merch_no`,`pay_company`,`pay_merch`,`out_channel`,`title`,`amount`,`currency`,`order_state`,`return_url`,`notify_url`,`req_time`,`user_id`,`memo`,`crt_date`,`business_no`,`acct_name`,`bank_no`,`mobile`,`bank_code`,`bank_name`,`card_type`,`acct_type`,`msg`,`real_amount`,`cost_amount`,`qh_amount`,`agent_amount`,sub_agent_amount,order_type,user_type
		from pay_order_acp where order_no = #{orderNo} and merch_no = #{merchNo}
	</select>

	<select id="list" resultType="com.qh.pay.api.Order">
		select
		`order_no`,`merch_no`,`pay_company`,`pay_merch`,`out_channel`,`title`,`amount`,`currency`,`order_state`,`return_url`,`notify_url`,`req_time`,`user_id`,`memo`,`crt_date`,`business_no`,`acct_name`,`bank_no`,`mobile`,`bank_code`,`bank_name`,`card_type`,`acct_type`,`msg`,`real_amount`,`cost_amount`,`qh_amount`,`agent_amount`,sub_agent_amount,order_type,user_type
		from pay_order_acp
		<where>
			<if test="orderNo != null and orderNo != ''"> and order_no = #{orderNo} </if>
			<if test="merchNo != null and merchNo != ''"> and merch_no = #{merchNo} </if>
			<if test="payCompany != null and payCompany != ''"> and pay_company = #{payCompany} </if>
			<if test="payMerch != null and payMerch != ''"> and pay_merch = #{payMerch} </if>
			<if test="outChannel != null and outChannel != ''"> and out_channel = #{outChannel} </if>
			<if test="orderState != null and orderState != ''"> and order_state = #{orderState} </if>
			<if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			<if test="bankNo != null and bankNo != ''"> and bank_no = #{bankNo} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by order_no desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(1) from pay_order_acp
		<where>
			<if test="orderNo != null and orderNo != ''"> and order_no = #{orderNo} </if>
			<if test="merchNo != null and merchNo != ''"> and merch_no = #{merchNo} </if>
			<if test="payCompany != null and payCompany != ''"> and pay_company = #{payCompany} </if>
			<if test="payMerch != null and payMerch != ''"> and pay_merch = #{payMerch} </if>
			<if test="outChannel != null and outChannel != ''"> and out_channel = #{outChannel} </if>
			<if test="orderState != null and orderState != ''"> and order_state = #{orderState} </if>
			<if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			<if test="bankNo != null and bankNo != ''"> and bank_no = #{bankNo} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.qh.pay.api.Order">
		insert into pay_order_acp(
		`order_no`,
		`merch_no`,
		`pay_company`,
		`pay_merch`,
		`out_channel`,
		`title`,
		`amount`,
		`currency`,
		`order_state`,
		`return_url`,
		`notify_url`,
		`req_time`,
		`user_id`,
		`memo`,
		`cert_no`,
		`crt_date`,
		`business_no`,
		`acct_name`,
		`bank_no`,
		`mobile`,
		`bank_code`,
		`bank_name`,
		<if test="cardType != null">
			card_type,
		</if>
		<if test="acctType != null">
			acct_type,
		</if>
		<if test="realAmount != null">
			real_amount,
		</if>
		<if test="costAmount != null">
			cost_amount,
		</if>
		<if test="qhAmount != null">
			qh_amount,
		</if>
		<if test="agentAmount != null">
			agent_amount,
		</if>
		<if test="subAgentAmount != null">
			sub_agent_amount,
		</if>
		<if test="orderType != null">
			order_type,
		</if>
		<if test="userType != null">
			user_type,
		</if>
		`msg`
		)
		values(
		#{orderNo},
		#{merchNo},
		#{payCompany},
		#{payMerch},
		#{outChannel},
		#{title},
		#{amount},
		#{currency},
		#{orderState},
		#{returnUrl},
		#{notifyUrl},
		#{reqTime},
		#{userId},
		#{memo},
		#{certNo},
		#{crtDate},
		#{businessNo},
		#{acctName},
		#{bankNo},
		#{mobile},
		#{bankCode},
		#{bankName},
		<if test="cardType != null">
			#{cardType,jdbcType=INTEGER},
		</if>
		<if test="acctType != null">
			#{acctType,jdbcType=INTEGER},
		</if>
		<if test="realAmount != null">
			#{realAmount,jdbcType=DECIMAL},
		</if>
		<if test="costAmount != null">
			#{costAmount,jdbcType=DECIMAL},
		</if>
		<if test="qhAmount != null">
			#{qhAmount,jdbcType=DECIMAL},
		</if>
		<if test="agentAmount != null">
			#{agentAmount,jdbcType=DECIMAL},
		</if>
		<if test="subAgentAmount != null">
			#{subAgentAmount,jdbcType=DECIMAL},
		</if>
		<if test="orderType != null">
			#{orderType,jdbcType=INTEGER},
		</if>
		<if test="userType != null">
			#{userType,jdbcType=INTEGER},
		</if>
		#{msg}
		)
	</insert>

	<update id="update" parameterType="com.qh.pay.api.Order">
		update pay_order_acp
		<set>
			<!-- <if test="title != null">`title` = #{title}, </if>
			<if test="amount != null">`amount` = #{amount}, </if>
			<if test="currency != null">`currency` = #{currency}, </if> -->
			<if test="orderState != null">`order_state` = #{orderState}, </if>
			<!-- <if test="returnUrl != null">`return_url` = #{returnUrl}, </if>
			<if test="notifyUrl != null">`notify_url` = #{notifyUrl}, </if>
			<if test="reqTime != null">`req_time` = #{reqTime}, </if> -->
			<if test="memo != null">`memo` = #{memo}, </if>
			<if test="businessNo != null">`business_no` = #{businessNo}, </if>
			<!-- <if test="acctName != null">`acct_name` = #{acctName}, </if>
			<if test="bankNo != null">`bank_no` = #{bankNo}, </if>
			<if test="mobile != null">`mobile` = #{mobile}, </if>
			<if test="bankCode != null">`bank_code` = #{bankCode}, </if>
			<if test="bankName != null">`bank_name` = #{bankName}, </if>
			<if test="cardType != null">`card_type` = #{cardType}, </if>
			<if test="acctType != null">`acct_type` = #{acctType}, </if> -->
			<if test="msg != null">`msg` = #{msg}, </if>
			<if test="realAmount != null">`real_amount` = #{realAmount}, </if>
			<if test="costAmount != null">`cost_amount` = #{costAmount}, </if>
			<if test="qhAmount != null">`qh_amount` = #{qhAmount}, </if>
			<if test="agentAmount != null">`agent_amount` = #{agentAmount},</if>
			<if test="subAgentAmount != null">
				sub_agent_amount = #{subAgentAmount},
			</if>
			<!-- <if test="orderType != null">
				order_type = #{orderType},
			</if>
			<if test="userType != null">
				user_type = #{userType},
			</if> -->
		</set>
		where order_no = #{orderNo} and merch_no = #{merchNo}
	</update>

	<update id="updateNoticeState" parameterType="com.qh.pay.api.Order">
		update pay_order_acp
		<set>
			<if test="noticeState != null">`notice_state` = #{noticeState} </if>
		</set>
		where order_no = #{orderNo} and merch_no = #{merchNo}
	</update>
</mapper>