<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
<head th:include="include :: header"></head>
<link href="/css/layui.css" rel="stylesheet">
<body>
	<div class="row col-sm-12 wrapper" th:object="${merchant}">
		<table class="table table-hover table-striped">
			<tr style="background-color: #C1CDCD"><td colspan="4" align="center">开户信息</td></tr>
			<tr> 
				<td>bopay商户号</td><td><span th:text="*{merchNo}"></span></td>
				<td>bopay审核状态</td><td>
				<span th:each="bc:${auditResult}" th:if="${bc.key==merchant.auditStatus}" th:text="${bc.value}"></span>
				</td>
			</tr>
			<tr>
				<td>bopay使用状态</td><td><span th:if="${merchant.status==1}">启用</span><span th:if="${merchant.status==2}">禁用</span></td>
				<td>结算方式</td><td>
				<span th:each="bc:${paymentMethods}" th:if="${bc.key eq merchant.paymentMethod}" th:text="${bc.value}"></span>
				</td>
			</tr>
			<tr>
				<td>管理员姓名</td><td><span th:text="*{managerName}"></span></td>
				<td>管理员手机号</td><td><span th:text="*{managerPhone}"></span></td>
			</tr>
			<tr>
				<td>签约使用时段</td><td><span th:text="*{contractEffectiveTime}"></span></td>
				<td>新增时间</td><td><span th:text="*{#dates.format(crtTime,'yyyy-MM-dd')}"></span></td>
			</tr>
			<tr>
				<td>认证启用时间</td><td><span th:text="*{enableTime}"></span></td>
				<td></td><td></td>
			</tr>
		</table>
		<table class="table table-hover table-striped">
			<tr style="background-color: #C1CDCD"><td colspan="4" align="center">商户联系人信息</td></tr>
			<tr> 
				<td>商户名称</td><td><span th:text="*{merchantsName}"></span></td>
				<td>商户简称</td><td><span th:text="*{merchantsShortName}"></span></td>
			</tr>
			<tr>
				<td>商户行业</td><td><span th:text="*{merchantsIndustry}"></span>-<span th:text="*{merchantsSubIndustry}"></span></td>
				<td>联系人</td><td><span th:text="*{contacts}"></span></td>
			</tr>
			<tr>
				<td>联系电话</td><td><span th:text="*{contactsPhone}"></span></td>
				<td>联系邮箱</td><td><span th:text="*{contactsEmail}"></span></td>
			</tr>
			<tr>
				<td>联系QQ</td><td><span th:text="*{contactsQq}"></span></td>
				<td></td><td></td>
			</tr>
		</table>
		
		<table class="table table-hover table-striped">
			<tr style="background-color: #C1CDCD"><td colspan="4" align="center">实名信息</td></tr>
			<tr> 
				<td>所在城市</td><td><span th:text="*{province}"></span>-<span th:text="*{city}"></td>
				<td>营业执照号</td><td><span th:text="*{merchantRegisteredNumber}"></span></td>
			</tr>
			<tr>
				<td>名称</td><td><span th:text="*{merchantName}"></span></td>
				<td>类型</td><td><span th:text="*{merchantType}"></span></td>
			</tr>
			<tr>
				<td>注册地址</td><td><span th:text="*{merchantAddress}"></span></td>
				<td>注册资本</td><td>
				<span th:text="*{merchantRegisteredCapital}"></span>
				</td>
			</tr>
			<tr>
				<td>营业期限</td><td><span th:text="*{merchantBusinessTerm}"></span></td>
				<td>经营范围</td><td><span th:text="*{merchantBusinessScope}"></span></td>
			</tr>
			<tr>
				<td>营业执照影印件</td><td><img style="height: 20%;" th:src="*{merchantBusinessPhotocopy}"></td>
				<td>法人</td><td><span th:text="*{legalerName}"></span></td>
			</tr>
			<tr>
				<td>法人证件类型</td><td>
				<span th:each="bc:${certTypes}" th:if="${bc.key==merchant.legalerCardType}" th:text="${bc.value}"></span>
				<td>证件号码</td><td><span th:text="*{legalerCardNumber}"></span></td>
			</tr>
			<tr>
				<td>证件有效期</td><td><span th:text="*{legalerCardEffectiveTime}"></span></td>
				<td>证件影印件</td><td><img style="height: 20%;" th:src="*{legalerCardPicFront}"><img style="height: 20%;" th:src="*{legalerCardPicBack}"></td>
			</tr>
		</table>
		<table class="table table-hover table-striped">
			<tr style="background-color: #C1CDCD"><td colspan="4" align="center">结算账户</td></tr>
			<tr> 
				<td>账户性质</td><td>
				<span th:each="bc:${acctTypes}" th:if="${bc.key eq merchant.accountType}" th:text="${bc.value}"></span>
				</td>
				<td>开户城市</td><td><span th:text="*{accountProvince}"></span>-<span th:text="*{accountCity}"></span></td>
			</tr>
			<tr>
				<td>开户银行</td><td><span th:text="*{accountBank}"></span></td>
				<td>开户行</td><td><span th:text="*{accountBankBranch}"></span></td>
			</tr>
			<tr>
				<td>开户人</td><td><span th:text="*{accountOpenPerson}"></span></td>
				<td>结算账户</td><td><span th:text="*{accountOpenNumber}"></span></td>
			</tr>
			<tr>
				<td>卡/证影印件</td><td><img style="height: 20%;" th:src="*{accountPic}"></td>
				<td></td><td></td>
			</tr>
			
		</table>
		
	</div>
	<div th:include="include::footer"></div>
	<div th:remove="${merchNo}? all : none">
		<script th:inline="javascript">
			merchNos = [[${agentNs}]];
		</script>
	</div>
	<script type="text/javascript" src="/js/layui.js"></script>
	<script type="text/javascript"
		src="/js/bootstrap-datetimepicker.min.js"></script>
	<!-- 日期框 -->
	<script type="text/javascript"
		src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
	<!-- 日期框 -->
	<script type="text/javascript" src="/js/jquery.selectBoxIt.min.js"></script>
	<script type="text/javascript" src="/js/appjs/pay/comm.js"></script>
	</script>
	<script type="text/javascript">
	$(".form_datetime").datetimepicker({
		language : 'zh-CN',
		format: 'yyyy-mm-dd',
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
	});
	
	</script>
</body>
</html>
