body{
	background: #eeeeee;
}
#qr_topDiv{
	height: 3rem;
	background: white;
	position:relative;
	box-shadow: 1px 3px 1px rgba(193,193,193,.2);  
}
#qr_topDiv img.qr_log{
	width:120px;
	height: 33px;
	position:absolute;
	left: 50%;
	top: 50%;
	margin:-17px 0 0 -60px;
}
#qr_topDiv img.returnImg{
	width: 30px;
	margin: 8px 0 0 10px;
	opacity: 0.2;
}
#qr_content{
	width: 95%;
	margin: 0.5rem auto;
	background: white;
	position: relative;
}
#qr_content ul li.normal{
	height:2rem;
	line-height: 2rem;
	text-align:center;
	color: #777;
}
#qr_content ul li.clipTag{
	width: 12rem;
	height: 12rem;
	margin: 0 auto;
	background-size: contain;	
}

#qr_content ul li.qr_money{
	height: 3rem;
	font-size: 0.8rem;
	text-align:center;
	line-height:3rem;
	font-weight: bold;
}
#qr_content ul li.qr_money span{
	font-size: 1rem;
	padding-left: 0.3rem;
	color: red;
	padding: 0 0.5rem;
}
#qr_content ul li.qr_tipsList{
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
}
#qr_content ul li img{
	width: 80%;
	margin:0 10%;
}
#qr_content ul li:last-child{
	border-top: 1px solid #ccc;
	margin-top:0.5rem;
	padding:.5rem 0 1rem 0;
}
#qr_content ul li.qr_time{
	color: red;
	font-size: 0.8rem;
	font-weight: bold;
	text-align:center;
}
#qr_content ul li.qr_time span{
	font-size: 1.2rem;
}
#qr_content ul li.timeEnouth{
	border:1px solid skyblue;
	height: 2rem;
	line-height:2rem;
	width: 10rem;
	margin: 1rem auto;
	text-align: center;
	border-radius: 0.2rem;
}
#qr_content ul li.timeEnouth a{
	color: skyblue;
}

/*
	Òýµ¼
*/
#black_YingDao{
    position: absolute;
    left: 50%;
    top: 70px;
    margin-left: -96px;
}
#black_YingDao .blackDiv{
	position: absolute;
	left: 0;
    top: 0;
    background: black;
    opacity: 0.8;
	width: 192px;
	height: 192px;
	z-index: 9;
}
#black_YingDao p{
	position: absolute;
	left: 0;
    top: 0;
    z-index: 10;
    width: 192px;
    height: 100px;
    padding: 46px 0;
    color: white;
    font-size: 33px;
    letter-spacing:10px;
    text-align: center;
    line-height: 40px;
}