<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qh.common.dao.AreaDao">
    <select id="list" resultType="com.qh.common.domain.AreaDO">
        select `id`,`name` from cfg_areas
    </select>

    <select id="listByCityId" resultType="com.qh.common.domain.AreaDO">
        select `id`,`name` from cfg_areas
        where cityid = #{cityId}
    </select>

    <select id="get" resultType="com.qh.common.domain.AreaDO">
        select `id`,`name` from cfg_areas
        where id = #{areaId}
    </select>
</mapper>