<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qh.common.dao.GeneratorMapper">
	<select id="list" resultType="com.qh.common.domain.TableDO">
		select table_name tableName, engine, table_comment tableComment, create_time createTime from information_schema.tables where table_schema = (select database())
	</select>

	<select id="count" resultType="int">
		select count(1) from information_schema.tables where table_schema = (select database())
	</select>

</mapper>