<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qh.common.dao.ProvinceDao">
    <select id="list" resultType="com.qh.common.domain.ProvinceDO">
        select `id`,`name` from cfg_provinces
    </select>

    <select id="get" resultType="com.qh.common.domain.ProvinceDO">
        select `id`,`name` from cfg_provinces
        where id = #{provinceId}
    </select>
</mapper>