<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-2 control-label">支付公司：</label>
								<div class="col-sm-4">
									<select id="company" name="company" class="form-control">
										<option value="">--支付公司--</option>
										<option th:each="company:${companys}" th:value="${company.key}" th:text="${company.value}"></option>
									</select>
								</div>
								<label class="col-sm-2 control-label">支付商户号：</label>
								<div class="col-sm-4">
									<select id="payMerch" name="payMerch" class="form-control">
										<option value="">--支付商户号--</option>
									</select>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">银行卡类型：</label>
								<div class="col-sm-4">
									<select id="cardType" name="cardType" class="form-control">
										<option value="">--银行卡类型--</option>
										<option th:each="cardType:${cardTypes}" th:value="${cardType.key}" th:text="${cardType.value}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">银行卡列表：</label>
								<label class="col-sm-4" style="cursor: pointer">
									<input id="bankCheckAll" type="checkbox" th:text="全选" th:value="1">
								</label>
							</div>
							<div id="divItemAll" class = "row col-sm-12">
								<label class="col-sm-3" th:each="bank:${bankCodes}" style="cursor: pointer">
									<input type="checkbox" th:value="${bank.key}" th:text="${bank.value}">
								</label>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    var cardTypes = [[${cardTypes}]];
	    var companys = [[${companys}]];
	    var bankCodes = [[${bankCodes}]];
	/*]]>*/
	</script>
	<script type="text/javascript" src="/js/appjs/pay/payBank/add.js">
	</script>
</body>
</html>
