<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="pay:payBank:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="pay:payBank:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<select id="cardType" name="cardType" class="form-control">
								<option value="">--银行卡类型--</option>
								<option th:each="cardType:${cardTypes}" th:value="${cardType.key}" th:text="${cardType.value}"></option>
							</select>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<select id="payMerch" name="payMerch" class="form-control">
								<option value="">--支付商户号--</option>
							</select>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<select id="company" name="company" class="form-control">
								<option value="">--支付公司--</option>
								<option th:each="company:${companys}" th:value="${company.key}" th:text="${company.value}"></option>
							</select>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="pay:payBank:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="pay:payBank:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    var cardTypes = [[${cardTypes}]];
	    var companys = [[${companys}]];
	    var bankCodes = [[${bankCodes}]];
	/*]]>*/
	</script>
	<script type="text/javascript" src="/js/appjs/pay/payBank/payBank.js"></script>
</body>
</html>