<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qh.system.dao.NoticeDao">

	<select id="get" resultType="com.qh.system.domain.NoticeDO">
		select `id`,`title`,`content`,`create_time`,`creator` from sys_notice where id = #{value}
	</select>

	<select id="list" resultType="com.qh.system.domain.NoticeDO">
		select `id`,`title`,`content`,`create_time`,`creator` from sys_notice
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="creator != null and creator != ''"> and creator = #{creator} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_notice
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="creator != null and creator != ''"> and creator = #{creator} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.qh.system.domain.NoticeDO" useGeneratedKeys="true" keyProperty="id">
		insert into sys_notice
		(
			`title`, 
			`content`, 
			`create_time`, 
			`creator`
		)
		values
		(
			#{title}, 
			#{content}, 
			#{createTime}, 
			#{creator}
		)
	</insert>
	 
	<update id="update" parameterType="com.qh.system.domain.NoticeDO">
		update sys_notice 
		<set>
			<if test="title != null">`title` = #{title}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="creator != null">`creator` = #{creator}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from sys_notice where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_notice where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>